# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/
ENV/

# Flask
instance/

# VSCode/IDE
.vscode/
.idea/

# Node
node_modules/
frontend/dist/
*.log

# Sistema
.DS_Store
Thumbs.db

# Build artifacts
*.egg-info/
.eggs/

# Dados temporários
backend/src/uploads/
backend/src/output/
backend/src/input/*.pdf
